<form (ngSubmit)="onSubmit()" #loginForm="ngForm">

		<div class="container">
		<div>
			<input type="text" autocomplete="off" placeholder="Username" id="username" required
					[(ngModel)]="currentUser.username" name="username">
					
		</div>
			{{output}}
		<div>
			<input type="password" [(ngModel)]="currentUser.password" autocomplete="off" placeholder="Password" id="password"
					required name="password">
		</div>
		<div>
      <button type="submit" id="submit">Submit</button>
      
		</div>
	  </div>
</form>
