<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.BankAccountMapper" >
    <!--<cache />-->
    <resultMap id="baseResultMap" type="com.mybatis.model.BankAccount" >
        <id column="account_id" property="id" jdbcType="INTEGER" />
        <result column="type_id" property="typeId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="balance" property="balance" jdbcType="DOUBLE" />
        <result column="create_ts" property="createTs" jdbcType="DATE" />
    </resultMap>

    <select id="findAll" resultMap="baseResultMap">
        select * from BANK_ACCOUNT
    </select>

    <select id="findByUserId" resultMap="baseResultMap">
        select * from BANK_ACCOUNT WHERE user_id=#{userId}
    </select>

    <insert id="insert" parameterType="BankAccount">
        insert into BANK_ACCOUNT values(#{id}, #{typeId}, #{userId}, #{balance}, #{createTs})
    </insert>
</mapper>